<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #f7f7f7;
                min-width: 470px;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>